
<center><h1 style="color:purple">Phorest Internship</h1></center>

<center><%= image_tag "logo-small.png" %></center>
<center><h2 style="color:purple"> Phorest</h2></center>
<p>Phorest is a company that specializes in computer software for hairdressers, spas, and beauty salon owners. The software is used in more than 3,500 salons in ten countries around the world. The company is Irish and it was founded by Ronan Perceval in 2002. The software manages all aspects of the salons business including appointments, stock, reporting and rotas, but also helps salons "get clients back more often. spending more".The company first designed and developed an online messenger application, known as "Phorest Messenger" that they began to offer for sale in Ireland. By May 2005, the company had 100 clients and in June acquired their largest competitor, Stylebase, who had built up a client base of 170 salons over six years. At this point the company focused on becoming the number one provider of salon software in EU and USA.</p>
<a href="https://www.phorest.com/" target="_blank">Phorest Website</a>

<center><h2 style="color:gold">Teen-turn</h2></center>
<center><%= image_tag "Teen-turn-group.jpeg", :size=> "500x300"  %></center>

<p>Teen-Turn aims to provide teen girls the opportunity to gain hands-on technology experience through after school activities and through 2 week summer work placements in technology career environments with companies, both SME and Multinational, so that they can visualize themselves in those kinds of careers and therefore make third level course choices accordingly. As learning in the presence of female role models has been shown to impact girls’ self-image and confidence–encouraging them to see themselves in new ways and stimulate new interests–female company representatives mentor Teen-Turn participants, perpetuating interest and enthusiasm. Teen-Turn will be working with DEIS and similar schools to identify participants with academic promise, ages 15-16, who will benefit from the opportunity but are from traditionally disadvantaged communities where third level education is uncommon.</p>
<img src="">

<p> Teen-turn partners with many companys such as,</p>
<ul>
  <li style="color:black">Hays Recruitment</li>
  <li style="color:black">Smart futures</li>
  <li style="color:black">Social Innovation Fund</li>
</ul>
<a href="https://teen-turn.com/" target="_blank">Teen-turn Website</a>
<center><h2 style="color:purple">About Me </h2></center>
<p style="display :flex"><i style=" display: inline-block;margin-top: 100px;padding-right:30px;padding-left:30px">"Aoife after recently finishing her third year of secondary school and going into fifth year, felt lost and didn't know what to pursue in college. She decided to apply for Teen-turn. Teen-turn is a program that gives girls a chance to experience an internship in technology - a field which is mostly male dominated. Aoife has been very excited to learn new skills at Phorest to see if a career in technology is something she would like."</i>
<%= image_tag "teenturn.jpeg", :size=> "500x300" %></p>

<%= link_to 'My Work Diary', posts_path %>


