
<center><h1 style="color:purple">Phorest Internship</h1></center>

<p>Hi! My name is Aoife Mcgann and I'm 16 years old. This blog has been made because I took part in an internship called Teen-Turn. One of the requirements of the internship is to write about our experiences in blog posts. Teen-Turn aims to influence course decision-making processes, inform participants on education and career options, and combat stereotypes by strategically changing how girls identify with technology career environments through work placements and after school activities. Teen-Turn will be working with DEIS and similar schools to identify participants with academic promise, ages 15-16, who will benefit from the opportunity but are from traditionally disadvantaged communities where third level education is uncommon.</p>

<center><h2>Phorest</h2></center>

<p>Phorest is the company I was put with to intern in. It's a company that specializes in computer software for hairdressers, spas, and beauty salon owners. The software is used in more than 3,500 salons in ten countries around the world. The company is Irish and it was founded by Ronan Perceval in 2002.</p>
<img src="">


<a href="https://teen-turn.com/" target="_blank">Teen-turn Website</a>
<p> Teen-turn partners with many companys such as,</p>
<ul>
  <li style="color:blue">Hays Recruitment</li>
  <li style="color:blue">Smart futures</li>
  <li style="color:blue">Social Innovation Fund</li>
</ul>
<tbody>

<%= link_to 'My Work Diary', posts_path %>


